# Ignore the entire EverQuest ROF2 Client binaries to save space
everquest_rof2*
WinEQ2/
Launchers/
patch/
rof framebuntu/
mineserv/

# Ignore MacroQuest Heavy binaries except for Macros and config
MacroQuestRof2/*
!MacroQuestRof2/Macros/
!MacroQuestRof2/config/

# Ignore python caches and environment
__pycache__/
*.pyc
.env
venv/

# Ignore constantly changing command files
commands/*.cmd
commands/*.log
.SynologyWorkingDirectory/*
.vscode/*

# Ignore large zip files
*.zip
# Ignore database files
*.db
*.db-shm
*.db-wal

# Ignore generated status jsons and logs
commands/*.status.json
transcript_dump.txt

# Ignore INI, CFG, and mock files
*.ini
*.cfg
*mock*
